;
; CURLOPT global settings (mostly set for realtime)
;
[globals]
;proxy=myproxy.example.com
proxytype=http
proxyport=8001
;proxyuserpwd=asterisk:asteriskrocks
CURLOPT(httptimeout)=30
CURLOPT(conntimeout)=2
CURLOPT(dnstimeout)=2